<phpunit colors="true" >
    <testsuites>
        <testsuite name="Game Test Suit">
            <directory>./src/home/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" >
            <directory suffix=".php" >./src/</directory>
        </whitelist>
    </filter>
</phpunit>